/FetcherManager/bin/Debug/netcoreapp3.1
/FetcherManager/obj/Debug/netcoreapp3.1
/OffPeakMediaFetcher/bin/Debug/netcoreapp3.1
/FetcherManager/obj
/OffPeakMediaFetcher/obj
/OPMF.Actions/obj
/OPMF.Actions/bin/Debug/netcoreapp3.1
/OPMF.Config/obj
/OPMF.Startup/obj
/OPMF.Startup/bin/Debug/netcoreapp3.1
/OPMF.SiteAdapter.Youtube/obj
/OPMF.SiteAdapter.Youtube/bin/Debug/netcoreapp3.1
/OPMF.SiteAdapter/obj
/OPMF.SiteAdapter/bin/Debug/netcoreapp3.1
/OPMF.Settings/obj
/OPMF.Settings/bin/Debug/netcoreapp3.1
/OPMF.Entities/obj
/OPMF.Entities/bin/Debug/netcoreapp3.1
/OPMF.Downloader.YTDownloader/obj
/OPMF.Downloader.YTDownloader/bin/Debug/netcoreapp3.1
/OPMF.Downloader/obj
/OPMF.Downloader/bin/Debug/netcoreapp3.1
/OPMF.Database/obj
/OPMF.Database/bin/Debug/netcoreapp3.1
