/FetcherManager/bin
/FetcherManager/obj
/OffPeakMediaFetcher/bin
/OffPeakMediaFetcher/obj
/OPMF.Actions/obj
/OPMF.Actions/bin
/OPMF.Database/obj
/OPMF.Database/bin
/OPMF.Downloader/obj
/OPMF.Downloader/bin
/OPMF.Downloader.YTDownloader/obj
/OPMF.Downloader.YTDownloader/bin
/OPMF.Entities/obj
/OPMF.Entities/bin
/OPMF.Settings/obj
/OPMF.Settings/bin
/OPMF.SiteAdapter/obj
/OPMF.SiteAdapter/bin
/OPMF.SiteAdapter.Youtube/obj
/OPMF.SiteAdapter.Youtube/bin
