/FetcherManager/bin
/FetcherManager/obj
/OffPeakMediaFetcher/bin
/OffPeakMediaFetcher/obj
/OPMF.Actions/obj
/OPMF.Actions/bin
/OPMF.Database/obj
/OPMF.Database/bin
/OPMF.Downloader/obj
/OPMF.Downloader/bin
/OPMF.Downloader.YTDownloader/obj
/OPMF.Downloader.YTDownloader/bin
/OPMF.Entities/obj
/OPMF.Entities/bin
/OPMF.Settings/obj
/OPMF.Settings/bin
/OPMF.SiteAdapter/obj
/OPMF.SiteAdapter/bin
/OPMF.SiteAdapter.Youtube/obj
/OPMF.SiteAdapter.Youtube/bin
/OPMF.OSCompat/bin/Debug/netcoreapp3.1
/OPMF.OSCompat/obj
/OPMF.OSDependent/obj
/OPMF.OSEnvironment/obj/Debug/netcoreapp3.1
/OPMF.OSEnvironment/obj
/OPMF.OSEnvironment/bin/Debug/netcoreapp3.1
/OPMF.Tests/bin/Debug/netcoreapp3.1
/OPMF.Tests/obj/Debug/netcoreapp3.1
/OPMF.Tests/obj/Release/netcoreapp3.1
/OPMF.Tests/obj
/OPMF.OSEnvironment.Windows/bin/Debug/netcoreapp3.1
/OPMF.OSEnvironment.Windows/obj/Debug/netcoreapp3.1
/OPMF.OSEnvironment.Windows/obj
/.vs
/.vscode
